<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632926892827-1op8ebo9qif8qkbk8dl0imjii997tdnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632926892827-1op8ebo9qif8qkbk8dl0imjii997tdnf</string>
	<key>API_KEY</key>
	<string>AIzaSyAFUT66Vh5lsNFStnjy4Y3q9vEsw5aGn-c</string>
	<key>GCM_SENDER_ID</key>
	<string>632926892827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-51143</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-51143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632926892827:ios:e29d1a90681a54714299be</string>
</dict>
</plist>